*.pyc
**/.DS_Store
.vscode/ftp-sync.json
**/htmlcov
**/.coverage
./cache/v/cache/*
*.swp
*/*.swp
*/*/*.swp
./bin/fastaExample4.fa
./bin/configHelpers.py
./bin/testFiles
./bin/tests
./bin/table.csv
./bin/bedExampleSampled.bed
./bin/bedPairedEnd.bed
./bin/bedExampleHotspots_removedHotspots.bed
./bin/mergeFiles
./bin/fastq.py
./bin/seqPipeline.py
./bin/gff.py
./bin/test_pfm.py
./bin/fastqExample.2.sampling.fastq
./bin/fastqExample.2.md5.fastq
./bin/b.bed6
./bin/fastaExample1_meltedAbundance.txt
./bin/generalUtils.py
./bin/bedExample.bed
./bin/bed.1.fa
./bin/bedCount4normalized.bed
./bin/out.csv
./bin/fastqExample.singleLine.fastq
./bin/fastqExample.fastq
./bin/pipeTools.py
./bin/bedCount4StrandedExample.bed
./bin/multiUtils.py
./bin/pipe.py
./bin/binnedBedExample_count.bed
./bin/fastaExample3.fa
./bin/table.2.csv
./bin/b.bed
./bin/bedCount4Example.bed
./bin/bedCount4Example.Appended.bed
./bin/fastaExample5.fa
./bin/sequence.py
./bin/a.bed
./bin/binnedBedExample.bed
./bin/pfm.py
./bin/fastaExample1.fa
./bin/bed.py
./bin/listCount.txt
./bin/samExample.sam
./bin/a.bed6
./bin/fasta.py
./bin/binnedBedExample_clustered.bed
./bin/fastqExample.2.fastq
./bin/bedpe.bed
./bin/seqPipeline.tests.py
./bin/bedExample_midPointFlanking.bed
./bin/intersect
./bin/slurm.py
./bin/binnedBedExample_count_clustered.bed
./bin/fastaExample2.fa
./bin/out.fa
./bin/bedExampleHotspots.bed
./bin/genes.bed
./bin/argument.py
./bin/genes_noNeighbors.bed
./bin/bed.fa
